 <mat-card class="custom-card">
  <mat-card-title class="custom-font"> User Info </mat-card-title>
  <hr>
  <mat-card-content class="custom-form-content">
    <form >
        <mat-label class="label1">Email address - </mat-label>
        <span class="sp">
        {{Name}}
      </span><br>
        <br>
        <mat-label class="label1">First Name - </mat-label>
        <span class="sp">
          {{first}}
      </span><br>
        <br>
        <mat-label class="label1">Last Name - </mat-label>
        <span class="sp">
          {{last}}</span><br><br>

      <mat-label class="label1">Location - </mat-label>
      <span class="sp"> {{ location }}</span><br /><br>
      <mat-label class="label1">Contact - </mat-label>
      <span class="sp"> {{ contact }}</span><br /><br>
</form></mat-card-content></mat-card>

