mat-grid-tile {
  background: lightblue;
}
.custom-card{
  margin-left:35%;
 margin-right: 35%;

}
.custom-form-content{
  text-align: center;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
  margin-right: 8px;
  padding: 2px;
}
.mat-form-field{
  width: 300px;
}
.button-align{
  /* margin-left: 210px; */
  text-align: center;
  margin-bottom: px;

}
.mat-label{
  font-size: 30px;
  font-style: oblique;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.custom-font{
  font-size: 1.2rem;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 14px;
}
.label1{
  font: oblique;
  color: darkmagenta;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form{
  align-content: center;
  text-align: center;
}

.sp{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* color:  */
  font: status-bar;
  font-size: 16px;


}

@media only screen and (max-width: 380px) {
  .custom-card{
    /* margin-left:10%;
    margin-right: 10%; */
    width: 200px;
  }
  .custom-form-content{
    text-align: center;
  }
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 6px;
    margin-right: 6px;
    padding: 2px;
  }
  .mat-form-field{
    width: 100px;
  }

  .mat-label{
    font-size: 15px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .custom-font{
    font-size: 1.2rem;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 6px;
  }


  .label1{
    font: small;
    color: darkmagenta;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  form{
    align-content: center;
    text-align: center;
  }
  span{
    width: 70px;
  }
  .sp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color:  */
    font: status-bar;
    /* width: 100px; */
    size: 100px;
    font-size: 18px;


  }

}
