.chart{
  size: 20px;
  /* height:10px; */
  width: 60%;
  /* width="100" */
  /* align-items: center;
  text-align: center; */
  appearance: center;
  align-content: center;
}

.View{
  text-align: center;
}
input{
  size: 1.2px;
  width: 30px;
}

label{
  color: cadetblue;
}
