<!-- <br>
<form #AddForm="ngForm" (ngSubmit)="saveData(AddForm)">
  <mat-form-field>
  <label>Name</label>
  <input name="Name"
    [(ngModel)]="Name"/>
</mat-form-field>

<mat-form-field>
  <label>Desc</label>
  <input name="Description"
  [(ngModel)]="Desctiption"/>
</mat-form-field>

<mat-form-field>
  <label>Manufacturer</label>
  <input name="Manufacturer"
      [(ngModel)]="Manufacturer"/>
</mat-form-field>

<mat-form-field>
  <label>Price</label>
  <input name="Price"
      [(ngModel)]="Price"/>
</mat-form-field>

<mat-form-field>
  <label>Quantity</label>
  <input name="Quantity"
    [(ngModel)]="Quantity"/>
</mat-form-field>
<button>Submit</button>
</form>
{{Name}} -->
