<div *ngIf="id == 1">
  <mat-card class="custom-card">
    <mat-card-title class="custom-font"> Login </mat-card-title>
    <mat-card-content class="custom-form-content">
      <form #LogForm="ngForm" (ngSubmit)="Login(LogForm)">
        <mat-form-field appearance="outline">
          <mat-label>Email address</mat-label>
          <input
            type="email"
            name="email"
            matInput
            ngModel
            #email="ngModel"
            placeholder="John@example.com"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <mat-error *ngIf="email.touched">
            <p *ngIf="email.errors?.required">Email is required</p>
            <p *ngIf="email.errors?.pattern">Email is invalid</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            name="password"
            matInput
            ngModel
            #password="ngModel"
            minlength="5"
            required
          />
          <mat-error *ngIf="password.touched">
            <p *ngIf="password.errors?.required">password required</p>
            <p *ngIf="password.errors?.minlength">
              password length should be minimum 5
            </p>
          </mat-error>
        </mat-form-field>
        <mat-card-actions class="button-align">
          <button mat-raised-button color="primary">Login</button>
        </mat-card-actions>
      </form></mat-card-content>
      </mat-card
  >
</div>

<div *ngIf="id == 0">
  <mat-card class="custom-card">
    <mat-card-title class="custom-font"> SignUp </mat-card-title>
    <!-- <hr /> -->

    <mat-card-content class="custom-form-content">
      <form #RegForm="ngForm" (ngSubmit)="Register(RegForm.value)">
        <mat-form-field appearance="outline">
          <mat-label>Email address</mat-label>
          <input
            type="email"
            name="email"
            matInput
            #email="ngModel"
            ngModel
            class="form-control"
            placeholder="John@example.com"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <mat-error *ngIf="email.touched">
            <p *ngIf="email.errors?.required">Email is a required field!</p>
            <p *ngIf="email.errors?.pattern">This is not a valid Email!!!</p>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            name="password"
            matInput
            ngModel
            #password="ngModel"
            required
            minlength="5"
          />
          <mat-error *ngIf="password.touched">
            <p *ngIf="password.errors?.required">password required</p>
            <p *ngIf="password.errors?.minlength">
              password length should be minimum 5
            </p>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input type="text" name="First" matInput ngModel required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input type="text" name="Last" ngModel matInput required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Location</mat-label>
          <mat-select ngModel="Locations" name="location" required>
            <!-- <mat-option [value]="">Location</mat-option> -->
            <mat-option *ngFor="let des of Locations" [value]="des.location">
              {{ des.location }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Drop -->
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input
            type="tel"
            name="mobile"
            ngModel
            matInput
            required
            #mobile="ngModel"
            pattern="[0-9]$"
            minlength="10"
          />

          <mat-error *ngIf="mobile.touched">
            <p *ngIf="mobile.errors?.required">Contact required</p>
            <p *ngIf="mobile.errors?.pattern">Only Numbers are allowed</p>
            <p *ngIf="mobile.errors?.minlength">
              mobile length should be minimum 10
            </p>
          </mat-error>
        </mat-form-field>

        <mat-card-actions class="button-align">
          <button mat-raised-button color="primary">Register</button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>
</div>

<div>

</div>
<!-- <mat-card-actions class="button-align">
  <button mat-raised-button color="primary">Login</button>
</mat-card-actions>
</form></mat-card-content> -->
